<div class="max-w-md mx-auto">
  <% @posts.each do |post| %>
   <div class="mb-4 rounded overflow-hidden shadow-lg shadow-sky-300">
      <div class="px-6 py-8 h-full bg-stone-200">
           <%# post %>
           <div class='pb-16'>
             <div class="flex items-center"><%= image_tag post.user.photo if post.user.photo.attached? %></div>
              <div class="font-bold text-xl mb-3">
                <% if current_user%>
                  <%= link_to user_name(post.user_email), user_path(post.user_id) %>
                <% else %>
                  <%= link_to user_name(post.user_email),login_path%>
                <% end %>
              </div>
              <div><%= image_tag post.photo, class: 'md:max-w-[80%] mb-2 mx-auto' if post.photo.attached? %></div>
              <div class="px-2 text-center"><%= post.description %></div>
        
              <div class="px-3 py-5">
                <% if post.user == current_user %>
                  <div class="mt-4 flex justify-center ">
                    <%= link_to 'Edit Post', edit_post_path(post.id), class: 'text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800' %>
                    <%= link_to 'Delete Post', post_path(post.id), method: :delete, class: 'text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-red-600 dark:hover:bg-red-700 focus:outline-none dark:focus:ring-red-800',data: { turbo_confirm: 'Are you sure?', "turbo-method": :delete}  %>
                  </div>
                <% end %>
              </div>

             <%# likes %>
              <%= render partial: 'likes', locals: {post: post} %>
             <%# comment %>
           
            <% post.comments.each do |comment| %>
              <div class="px-2 py-2 ">
                <p class="mb-3">
                  <%= link_to "<strong>#{user_name(comment.user_email)}</strong>".html_safe, user_path(comment.user_id) %> <%= comment.description %>
                </p>
                <%if comment.user == current_user%>
                 <%= link_to 'Edit', edit_post_comment_path(post_id: post.id, id: comment.id), class: 'text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800' %>
                <%end%>
                <% if comment.user == current_user || post.user == current_user %>
                  
                  <%= link_to 'Delete', post_comment_path(post_id: post.id, id: comment.id), method: :delete, class: 'text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-red-600 dark:hover:bg-red-700 focus:outline-none dark:focus:ring-red-800', data: { turbo_confirm: 'Are you sure?', "turbo-method": :delete } %>
                <% end %>
                </div>
              <% end %>
              <% if current_user%>
                <%= simple_form_for Comment.new, url: post_comments_path(post), method: :post do |f| %>
                  <%= f.input :description, label: 'Comment', placeholder: 'Add a comment', label_html: {class: 'mt-4'}, input_html: {class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-md focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-50 dark:border-gray-600 dark:placeholder-gray-500 dark:text-black dark:focus:ring-blue-500 dark:focus:border-blue-500"} %>
                  <%= f.submit 'Post', class: 'text-white bg-blue-700 hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 font-medium rounded-full text-sm px-5 py-2.5 text-center me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800' %>
                <% end %>
              <%end%>
            </div>
      </div>
   </div>
  <% end %>
</div>

